@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');

body {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(157,156,156,1) 35%, rgba(75,81,82,1) 100%);    
    color: white;
    font-family: "Zilla Slab";
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
}

#banner {
    text-align: center;
}

h2 {
    margin: 0px;
}

#movie-info-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-image {
    height: 500px;
    margin: 30px 0px;
    border: 10px solid whitesmoke;
    box-shadow: 0px 5px 10px rgba(20, 20, 20, 0.5);
}

.movie-container {
    height: 360px;
    width: 260px;
    background-color: hsla(100, 0%, 100%, .8);
    border-radius: 50px;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(20, 20, 20, 0.5);
    position: relative;
}

.movie-container:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.image-quote-cast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-quote-cast-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

#quote {
    display: flex;
    flex-direction: column;
}

#quote p {
    padding: 30px;
    margin-right: 30px;
}

img {
    height: 300px;
    border: 3px solid white;
    border-radius: 10px;
}

#home {
    display: block;
    background-color: rgb(51, 50, 50);
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(20, 20, 20, 0.5);
    position: relative;
}

#home:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

ul {
    background-color: hsla(0, 0%, 90%, 0.05);
    padding: 30px;
    border-radius: 50px;
}

.image-quote-cast-section h2 {
    background-color: hsla(0, 0%, 90%, 0.05);
    padding: 30px 30px 0px 30px;
    border-radius: 30px 30px 0px 0px;
}

.image-quote-cast-section p {
    background-color: hsla(0, 0%, 90%, 0.05);
    padding: 0px;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
}